$light: #bcecec;
$blogcolor: #4dbdeb;
$btntext: #09232c;
$primary-color: #ffe08c;
$secondary-color: #4dbdeb;
$success: #dfeeee;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Kanit','Roboto', sans-serif;
$secondary-font:'Kanit','Trirong','Volkhov', serif;
$icon-font: 'Kanit','themefisher-font';